@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply min-h-screen bg-gradient-to-b from-purple-900 via-pink-900 to-red-900 bg-fixed 
}
.glass {
  @apply bg-slate-300 bg-opacity-50 backdrop-blur-lg  border border-slate-200 border-opacity-50
}
